@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
body {
  background: #3498db !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
}
h1 {
  font-size: 30vh !important;
}
h2 span {
  font-size: 4rem !important;
  font-weight: 600 !important;
}
a:link,
a:visited {
  text-decoration: none !important;
  color: #fff !important;
}
h3 a:hover {
  text-decoration: none !important;
  background: #fff !important;
  color: #3498db !important;
  cursor: pointer !important;
}
